doctype html
html
  head
    meta(charset="UTF-8")
    title المتجر
    link(rel="stylesheet", href="/css/style.css")

  body

    include includes/header

    br

    form(method="GET", action="/")
      input(
        type="text"
        name="search"
        placeholder="ابحث عن منتج..."
        value=search
      )
      button(type="submit") 🔍 بحث

    br

    .container

      each product in products

        .product

          img(src=product.image)

          h3= product.name

          p السعر: #{product.price} $

          - var item = cart.find(i => String(i.id) === String(product.id))

          .cart-box

            button(
              type="button"
              onclick=`addToCart(${product.id})`
            )
              | 🛒 سلة +

            span.qty(data-id=product.id)
              | 🧺 #{item ? item.qty : 0}

            button(
              type="button"
              onclick=`removeFromCart(${product.id})`
            )
              | 🛒 سلة -

    include includes/footer

    script.
      function addToCart(id) {

        fetch('/add-to-cart/' + id)
          .then(res => res.json())
          .then(data => {

            let qty =
              document.querySelector(`[data-id="${id}"]`);

            qty.innerHTML = "🧺 " + data.qty;

            let counter =
              document.getElementById("cart-counter");

            if(counter){
              counter.innerHTML =
                "🛒 السلة (" + data.cartCount + ")";
            }

          })
          .catch(err => {
            console.log(err);
          });

      }

      function removeFromCart(id) {

        fetch('/decrease/' + id)
          .then(res => res.json())
          .then(data => {

            let qty =
              document.querySelector(`[data-id="${id}"]`);

            qty.innerHTML = "🧺 " + data.qty;

            let counter =
              document.getElementById("cart-counter");

            if(counter){
              counter.innerHTML =
                "🛒 السلة (" + data.cartCount + ")";
            }

          })
          .catch(err => {
            console.log(err);
          });

      }